.cabecalho {
    background: yellow;
    padding: 90px;
}

.Rodape {
    background: green;
    clear: both;
    padding: 40px;
    font-size: 14px;
    color: rgb(0, 0, 0);
    text-align: center;
}

.link {
    width: 300px;
    background-color: rgb(52, 118, 194);
    float: left;
    padding: 200px;
    color: rgb(10, 10, 10);
    box-sizing: border-box;
}

.conteudo {
    margin-left: 220px; 
    background-color: lightsalmon;
    padding: 263px;
    box-sizing: border-box;
}

div {
    border: 2px solid black;
}
